* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
}

:root {
  --screen-width: 300px;
  --screen-height: 150px;

  --green: #4fe44f;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-size: 62.5%;

  background-color: #161616;
  color: var(--green);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

body,
input,
input::file-selector-button,
button {
  font-family: "Press Start 2P", system-ui;
}

header {
  justify-self: flex-start;
  border-bottom: 2px solid var(--green);
  font-size: 2.2rem;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--screen-width);
  gap: 12px;
}

.screen-container {
  outline: 1px solid var(--green);
}

.pixel-row {
  display: flex;
}

.pixel {
  width: calc(var(--screen-width) / 64);
  height: calc(var(--screen-height) / 32);
  
  outline: 1px solid #202020;
}

.filled {
  background-color: #4fe44f;
}

label {
  text-align: center;
  font-size: 1.4rem;
}

button,
input[type='button'] {
  font-size: 1rem;
  padding: 8px 12px;
  cursor: pointer;
}

#game-file {
  display: none;
}

@media only screen and (min-width: 700px) {
  :root {
    --screen-width: 600px;
    --screen-height: 300px;
  }

  header {
    font-size: 2.6rem;
    padding: 12px 0;
  }

  header ul {
    gap: 128px;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --screen-width: 900px;
    --screen-height: 450px;
  }

  header {
    font-size: 3.2rem;
  }

  header ul {
    justify-content: space-evenly;
    gap: 0;
  }
}